@media (max-width:375px) {
    body {
        background: url(../images/pattern-background-mobile.svg) top no-repeat, var(--main-bg);
        background-size: 100%;
        
    }

    main .order-card {
       width: 320px;
    }

    .order-card img {
        width: 100%;
    }

    .order-card .card-info-container {
        width: 100%;
    }
    
    .order-card .card-info-container .transaction {
        width: 90%;
    }
    
    .order-card .card-info-container .transaction .change {
       margin-left: 70%;
    }
}

@media (max-width:480px) {
    body {
        background: url(../images/pattern-background-mobile.svg) top no-repeat, var(--main-bg);
        background-size: 100%;
        
    }

    main .order-card {
       width: 320px;
    }

    .order-card img {
        width: 100%;
    }

    .order-card .card-info-container {
        width: 100%;
    }
    
    .order-card .card-info-container .transaction {
        width: 90%;
    }
    
    .order-card .card-info-container .transaction .change {
       margin-left: 70%;
    }
}